{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <hr>
    <h3>
        <p style="padding-left: 30px; text-align: center;">
            <strong>BARDO</strong> 2022&nbsp;<a
                href="https://vk.com/feed?section=search&amp;q=%23music">#music</a>&nbsp;<a
                href="https://vk.com/feed?section=search&amp;q=%23newrelease">#newrelease</a><br
        /><br /><em>&laquo;О благороднорожденный, кто не узнает своих собственных мыслеформ, тот, как бы ни был он начитан в сутрах и тантрах и как бы ни исполнял религиозные заповеди, даже на протяжение целой кальпы, не станет Буддой..&raquo;</em></p>
<p style="padding-left: 30px; text-align: center;"><em><img src="https://sun9-west.userapi.com/sun9-7/s/v1/ig2/Ivh0m8mA_KRw1Z8RU7SpG4iRUJozcBIbxH3hxXGYyxhmlMK0YPViEixBBHCJzHXkk8WZ1XbX6FgFZESdGJ5oaZ0v.jpg?size=1280x1280&amp;quality=95&amp;type=album" alt="cover" width="640" height="640" /></em></p>
<p><em><a title="Скачать и послушать" href="https://music.apple.com/ru/album/bardo/1646269333" target="_blank" rel="noopener">Itunes</a></em></p>
</h3>
{% endblock content %}
